<!DOCTYPE html>

<html>
    <head>
        <meta character='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Add Task List 2</title>
        <meta name="description" content="">
        <meta name="vewport" content="width=device.width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <!-- CSRF-> Cross Site Request Forgery -->
    <!-- CSRF Token -->
    <body>
        <h1> Add Task List</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="submit" value="Add Task List"></input>
        </form>
    </body>
</html>